/* Page İnfo
Project Name: Nisan 2022 Boostrap Ders 1
Author: AEDR
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


nav {
    background-color: rgb(255, 179, 0) !important;
}

.nav-link {
    color: white !important;
}

#project-name,
.nav-link {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#project-name {
    font-size: 24px;
}

.nav-link:hover {
    color: rgb(255, 94, 0) !important;
    text-decoration: underline;
    transition: 0.5s;
}

#hero-header {
    text-align: center;
    height: 100vh;
    background: linear-gradient(rgba(20, 20, 20, .8), rgba(20, 20, 20, .8)), url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#intro-title {
    color: white;
}

.hr {
    width: 5%;
    padding: 0;
    border: none;
    border-top: medium double rgb(255, 179, 0);
    ;
    color: rgb(255, 179, 0);
    text-align: center;


}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: rgb(255, 179, 0);
}


#slogan {
    text-align: center;
    height: 30vh;
    background: linear-gradient(rgba(20, 20, 20, .8), rgba(20, 20, 20, .8)), url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1147&q=80");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}
